:root {
  --primary-color: #901c1c;
  --background-color-modal-price: #db8876;
  --background-color-button: #911c1c;
  --color-typo-price: #757575;
  --name-photographer: #d3573c;
  --tagline-photographer: #525252;
  --background-color: #fafafa;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 313px;
  margin: 0 100px;
}

.photographerHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.infosPhotographe {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin-left: -120px;
}
  .infosPhotographe h2 {
      font-size: 50px;
      color: var(--name-photographer);
  }
  .infosPhotographe h2:focus {
      outline: 0;
  border: var(--primary-color) solid 5px;
  border-radius: 20px;
  }
  .infosPhotographe h3 {
      color:var(--primary-color);
      margin-top: -25px;
  }
  .infosPhotographe h4 {
      color: var(--color-typo-price);
      margin-top: -5px;

  }

.photograph-header img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: -120px;
  margin-top: 50px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  border: black solid 1px;
  box-shadow: 3px 3px 15px #312E2E;
}
.contact_button:focus {
  outline: 0;
  border : var(--name-photographer) solid 5px;
  border-radius: 20px;
}

/*........MODAL CONTACT....*/

.modal {
  border-radius: 5px;
  background-color:var(--background-color-modal-price);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px
}

.modal header img {
  cursor: pointer;
  width: 35px;
  margin-top: -50px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 170px;
}
