:root {
  --primary-color: #901c1c;
  --secondaire: #db8876;
  --background-color-button: #911c1c;
  --color-typo-price: #757575;
  --name-photographer: #d3573c;
  --tagline-photographer: #525252;
  --background-color: #fafafa;
  --box-shadow: #312e2e;
}

/********************HEADER***************/

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.photographerHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.infosPhotographe {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.infosPhotographe h2 {
  font-size: 64px;
  color: var(--name-photographer);
}
.infosPhotographe h2:focus {
  outline: 0;
  border:var(--secondaire) solid 2px;
  border-radius: 20px;
}
.infosPhotographe h3 {
  color: var(--primary-color);
  margin-top: -25px;
}
.infosPhotographe h4 {
  color: var(--color-typo-price);
  margin-top: -5px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.button_button {
  width: 30%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.button_button .contact_button:focus,
.button_button .contact_button:hover {
  background-color: var(--secondaire);
  color: black;
  border: black solid 1px;
  box-shadow: var(--box-shadow)1px 1px 8px 0px;
}

#contact_modal .contact_button:focus,
#contact_modal .contact_button:hover {
  color: black;
  border: black solid 1px;
  box-shadow: var(--box-shadow) 1px 1px 8px 0px;
}

/*************MENU DU TRIE******************/
.tri {
  margin-top: 10px;
  display: flex;
  margin-left: 100px;
  align-items: baseline;
  z-index: 99;
}
.choix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
  height: 55px;
  margin-left: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  transition: all 0.3s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

.choix:hover{
  border: black solid 1px;
  box-shadow: var(--box-shadow) 1px 1px 8px 0px;
}

/**************MEDIAS**************/
#cartes_medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 58px 100px 100px 100px;
}
.carte_media {
  width: 350px;
}
.carte_media img,
video {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.carte_media img:focus,
video:focus {
  outline: 0;
  border: var(--secondaire) solid 2px;
  border-radius: 20px;
}
.info_photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 38px;
}
.info_photo h2,
.info_photo span {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}
.info_photo h2 {
  width: 80%;
  line-height: 17px;
}
.info_photo span {
  margin-right: 0px;
  font-weight: 600;
}
.info_photo i {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}
.info_photo i:focus {
  outline: 0;
  background-color: #df6c52;
  padding: 5px;
  border-radius: 50%;
}

/************banniere prix********/
#banner {
  display: flex;
  align-items: center;
  background-color: var(--secondaire);
  width: 320px;
  height: 70px;
  position: fixed;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  right: -121.18%;
  bottom: 0;
  margin-right: 50px;
}
#total_likes,
#prix {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}
#prix {
  margin-left: 70px;
}
#banner i {
  font-size: 22px;
}

/*****************MODAL CONTACT**************/
.background-modal {
  display: none;
  background-color: #c4c4c4;
  position: fixed;
  inset: 0;
  opacity: 0.4;
}

.modal {
  border-radius: 5px;
  background-color: var(--secondaire);
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  margin-left: 30%;
  position: absolute;
  top: 9%;
  z-index: 1000;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.modal header img {
  cursor: pointer;
  width: 35px;
  margin-top: -50px;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

form input:focus,
#message:focus {
  outline: 0;
  border: black solid 2px;
}

textarea {
  height: 170px;
}

/*error messages*/
#firstname-error,
#lastname-error,
#email-error,
#message-error {
  color: red;
  font-size: 20px;
  padding: 0.5rem 0;
  display: none;
}

/*********BANNER**********/

#banner {
  background-color: var(--secondaire);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  right: -31px;
  width: 376px;
  height: 70px;
  border-radius: 5px 5px 0 0;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
}

/*************LIGHTBOX***********/

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 10;
  transition: opacity 0.3s;
  overflow: auto;
}

#close {
  color: var(--primary-color);
  font-size: 48px;
  position: fixed;
  top: 38px;
  right: 10%;
  z-index: 13;
  cursor: pointer;
  right: 10%;
}

#precedent,
#suivant {
  color: var(--primary-color);
  font-size: 48px;
  position: fixed;
  top: 50%;
  z-index: 12;
  cursor: pointer;
}

#suivant {
  right: 10%;
}
#precedent {
  left: 8.7%;
}

.lightbox_media {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  height: 90%;
}
.lightbox_media img,
.lightbox_media video {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 35px;
}
.titreLightbox {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 400;
  margin-top: -2px;
}

/***********MEDIA QUERIES pour iphone 6***********/
@media screen and (max-width: 375px) {
  .photograph-header{
    height: 325px;
    margin: 0;  
    display: flex;  
  }
  .photographerHeader{
    flex-direction: column;
  }
  .photograph-header img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 64px;
    left: 16px;
}
.infosPhotographe{
  text-align: center;  
  width: 100%;
}
.infosPhotographe h2{
  font-size: 48px;  
}
.contact_button{
  width: 129px;
}

.choix{
  width: 52%;
}

#cartes_medias{
  margin: auto;
}
.carte_media{
  width: 100%;
}
#banner{
  width: 300px;
  left: 67px;
}

.modal{
  top: 0;
  left: 0;
  right:0;
  padding: 0;
  width: 100%;
  margin-left: 0;
}
.modal header h2{
  font-size: 34px; 
}
form{
  width: 75%;
}

.modal header img{
  position: absolute;
  top: 80px;
  right: 21px;
}
  }
