:root {
  --primary-color: #901c1c;
  --secondaire: #db8876;
  --background-color-button: #911c1c;
  --color-typo-price: #757575;
  --name-photographer: #d3573c;
  --tagline-photographer: #525252;
  --background-color: #fafafa;
  --box-shadow: #312e2e;
}

/********************HEADER***************/

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 313px;
  margin: 0 100px;
}

.photographerHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.infosPhotographe {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.infosPhotographe h2 {
  font-size: 50px;
  color: var(--name-photographer);
}
.infosPhotographe h2:focus {
  outline: 0;
  border: var(--primary-color) solid 5px;
  border-radius: 20px;
}
.infosPhotographe h3 {
  color: var(--primary-color);
  margin-top: -25px;
}
.infosPhotographe h4 {
  color: var(--color-typo-price);
  margin-top: -5px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:focus, .contact_button:hover { 
  color: black;
}

/*************MENU DU TRIE******************/
.tri {
  display: flex;
  position: relative;
  left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.choix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 55px;
  margin-left: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  transition: all 0.3s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

.choix:hover {
  border: black solid 1px;
  box-shadow: var(--box-shadow) 3px 3px 15px;
}


/**************MEDIAS**************/
#cartes_medias {
  display: flex;
  width: 99%;
  height: 1450px;
  flex-wrap: wrap;
}
.carte_media {
  height: 360px;
  width: 26%;
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}
.carte_media img,
video {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.carte_media img:focus,
video:focus {
  outline: 0;
  border:var(--secondaire) solid 2px;
  border-radius: 20px;
}
.info_photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 38px;
}
.info_photo h2,
.info_photo span {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}
.info_photo h2 {
  width: 80%;
  line-height: 17px;
}
.info_photo span {
  margin-right: 0px;
  font-weight: 600;
}
.info_photo i {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}
.info_photo i:focus {
  outline: 0;
  background-color: #df6c52;
  padding: 5px;
  border-radius: 50%;
}

/************banniere prix********/
#banner {
  display: flex;
  align-items: center;
  background-color: var(--secondaire);
  width: 320px;
  height: 70px;
  position: fixed;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  right: -121.18%;
  bottom: 0;
  margin-right: 50px;
}
#total_likes,
#prix {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}
#prix {
  margin-left: 70px;
}
#banner i {
  font-size: 22px;
  margin-left: 10px;  
}

/*****************MODAL CONTACT**************/

.modal {
  border-radius: 5px;
  background-color: var(--secondaire);
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  margin-left: 30%;
  position: absolute;
  top: 9%;
  z-index: 1000;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.modal header img {
  cursor: pointer;
  width: 35px;
  margin-top: -50px;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form input:focus, #message:focus {
  outline: 0;
  border: black solid 2px;
}

textarea {
  height: 170px;
}

/*error messages*/
#firstname-error,
#lastname-error,
#email-error,
#message-error {
  color: red;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  display: none;
}

/*********BANNER**********/

#banner {
  background-color: var(--secondaire);
  width: 376px;
  height: 89px;
  position: fixed;
  z-index: 1;
  border-radius: 5px 5px 0px 0px;
  right: 0;
  bottom: 0;
}

/*************LIGHTBOX***********/

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 10;
  transition: opacity 0.3s;
}

#close {
  color: var(--primary-color);
  font-size: 50px;
  position: fixed;
  top: 30px;
  right: 8%;
  z-index: 12;
  cursor: pointer;
}

#precedent,
#suivant {
  color: var(--primary-color);
  font-size: 50px;
  position: fixed;
  top: 40%;
  z-index: 12;
  cursor: pointer;
}

#suivant {
  margin-left: 90%;
}
#precedent {
  margin-left: 7%;
}

.lightbox_media {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  height: 90%;
}
.lightbox_media img,
.lightbox_media video {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-top: 35px;
}
.titreLightbox {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 400;
  margin-top: -2px;
}

/***************MENU ACCESSIBILITE*******/
.a11y-nav {
  position: absolute;
  top: -10em;
  z-index: 100;
  width: 100%;
}

.a11y-nav a {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-weight: 100;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.5em;
}

.a11y-nav a:focus,
.a11y-nav a:hover {
  top: 10em;
  text-decoration: none;
}
