@import url("photographer.css");

:root {
  --primary-color: #901c1c;
  --secondaire: #db8876;
  --background-color-button: #911c1c;
  --color-typo-price: #757575;
  --name-photographer: #d3573c;
  --tagline-photographer: #525252;
  --background-color: #fafafa;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

/************HEADER****************/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--primary-color);
  margin-right: 100px;
  font-size: 36px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.logo:focus {
  border: var(--secondaire) solid 2px;
  border-radius: 20px;
  padding: 10px;
  outline: 0;
}

/***************MAIN***************/

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article:focus {
  border: var(--secondaire) solid 2px;
  border-radius: 20px;
  padding: 10px;
  outline: 0;
}

.photographer_section article h2 {
  color: var(--name-photographer);
  font-size: 36px;
  font-weight: 400;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article h3 {
  color: var(--primary-color);
  font-size: 13px;
  margin-top: -30px;
}

.photographer_section article h4 {
  color: black;
  font-size: 10px;
  margin-top: -10px;
}

.photographer_section article p {
  font-size: 9px;
  font-weight: 400;
  color: var(--color-typo-price);
  margin-top: -10px;
}

/***********MEDIA QUERIES***********/
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  .index-header {
    justify-content: unset;
    margin-top: 10px;
  }

  .logo {
    margin: 10px 0 0 0;
  }

  header h1 {
    margin-right: 0;
  }

  .photographer_section {
    display: block;
  }

  .photographer_section article {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  header {
    justify-content: space-around;
  }

  .logo {
    margin-left: 0;
  }

  header h1 {
    margin-right: 0;
  }

  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
}
